__pycache__
sample-data
myenv
user_emulation
__pycache__/
kafka_spark_2.py
batch_consumer.py
Spark Basics.ipynb
batch_test_consumer.py
kafka_test_producer.py
Spark_Connectors.ipynb
boto3_testing.py
kafka-testing.py
Spark_Connectors.py
cat_0.png
lorem.txt
spark_example.ipynb
cat_1.png
spark_example.py
cat2.png
Notebook(11).ipynb
Spark_Streaming.ipynb
Notebook(12).ipynb
Spark_Streaming2.ipynb
example_spark_streaming.py
test.py
Integrating Kafka with Spark.ipynb
S3 and boto3.ipynb
kafka_spark_1.py
s3_bucket_to_spark.ipynb